
$beuce: #dac290;
$beuce-light: #f7ecd8;
$beuce-dark: #8c8066;

$juice-light: #e7e485;

$flame-orange: #ffa400;
$flame-yellow: #fdb71a;

$bg-color: #1f1e1b;

$flame-gutter: 10px;

$font-sans: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
$font-display: 'Josefin Sans', 'Helvetica Neue', Arial, sans-serif;

$main-logo-size: 120px;