@import 'compass';

@import "variables";
@import "mixins";
@import "colorbox";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,700);


html {
	font-size: 62.5%;
	@include breakpoint(768) {
		font-size: 50%;
	}
	@include breakpoint(480) {
		font-size: 40%;
	}
}

body {
	font-family: $font-sans;
	background: $bg-color url(images/bg-juice-full.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	padding: 0;
	margin: 0;
	font-size: 1.6rem;
	text-align: center;
	color: $text-color;
}

img, iframe {
	max-width: 100%;
}

ul {
	padding: 0;
	list-style: none;
}

h1, h2, h3, h4 {
	font-family: $font-display;
	font-weight: 400;
}

a:link, a:visited {
	color: $link-color;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.align-center {
	text-align: center;
	margin: inherit auto;
}

.flame-underline {
	padding: 1rem 0;
	margin-bottom: 1rem;
	// background: $flame-yellow;
	border-bottom: 1px solid $flame-yellow;
}

.constrain-width {
	max-width: 100%;
}

.container {
	margin: auto;
	text-align: left;
	position: relative;
	min-width: 320px;
	@include breakpoint(800) {

	}
}

.page-title {
	text-align: center;
	font-size: 6rem;
	font-weight: 100;
	margin: 2.5rem auto 2.5rem;
	// letter-spacing: 0.1rem;
	text-transform: uppercase;
	&.big-margin {
		margin: 5rem auto;
	}
}

.flame-wrapper {
	position: relative;
	// padding: 0 $flame-gutter;
	// background: url(images/bg-strip-1-v.jpg);
	margin: 4rem auto;
	@include breakpoint(1200) { 
		margin: inherit $flame-gutter * 2;
	}
	.flame-strip {
		display: none;
		position: absolute;
		top: 0;
		pointer-events: none;
		z-index: 110;
	}
	.flame-left {
		left: -33px;
	}
	.flame-right {
		right: -45px;
	}
}

.flame-wrapper, .container {
	max-width: 1200px;
	// @include breakpoint(768) {	max-width: 737px; }
}

.main-container {
	background: $beuce-light;
	min-height: 90%;
	// padding-top: 60px;  // push down content when main content is directly under navbar
}

.slider-container + .main-container {
	padding-top: 0;
}

.full-justify {
	text-align: justify;

	&:after {
		content: '';
		display: inline-block;
		width: 100%;
	}
}

#full-content {
	padding: 1.5rem;
}

.content-row {
	@include clearfix;
	// display: table;
	width: 100%;

	.content-left {
		// display: table-cell;
		width: $content-left-width;
		float: left;
		padding: 2.5rem $content-left-padding;
		margin: auto;
		@include breakpoint(1200) {
			width: $content-left-width - 200;
		}
		@include breakpoint(1000) {
			width: $content-left-width - 350;
		}
		@include breakpoint(850) {
			width: 368px;
		}
		.inner {

		}
	}

	.content-right {
		// display: table-cell;
		float: right;
		width: $content-right-width;
		background: $juice-light;
		padding: 2.5rem $content-right-padding;
		overflow-y: visible;
	}

	.content-left, .content-right {
		box-sizing: border-box;
		@include breakpoint(768-1) {
			width: 100%;
			max-width: 100%;
		}
	}
}

.sidebar-section {
	margin: 2rem auto 4rem;
}

.slider-container {
	z-index: 0;
	position: relative;

	.nivoSlider {
		margin: 0 auto;
	}

	.nivo-controlNav {
		position: absolute;
		bottom: 1rem;
		right: 3rem;
		z-index: 99;
	}
}


.slider-main img { width: 100%; }


#navbar {
	$height: $navbar-height;
	margin: auto -$flame-gutter;
	z-index: 100;
	height: $height;
	background: #222;
	// background: $beuce-dark url(images/bg-juice.jpg) center;
	// background-size: contain;
	position: relative;
	// border-bottom: 3px solid $beuce-dark;
	.links {
		margin: 0;
		margin-left: 14rem;
		padding: 0 0rem 0 2rem;
		@include breakpoint(480) {
			margin: 0;
			// text-align: center;
		}
		// display: inline-block;
		li {
			vertical-align: middle;
		}
		li.link {
			display: inline-block;
			a {
				@include transition(opacity 300ms, color 300ms, background-color 300ms);
				text-transform: uppercase;
				font-weight: 100;
				font-size: 6rem*2.6/8;
				font-family: $font-display;
				display: block;
				height: $height;
				line-height: $height;
				color: white;
				text-decoration: none;
				padding: 0 2.5rem;
				&:hover {
					background-color: $beuce-dark;
					color: $flame-yellow;
				}
				@include breakpoint(480) {
					padding: 0 1rem;
				}
			}
		}
	}

	#main-logo {
		$size: $main-logo-size;
		@include transition(transform 100ms);
		@include transform-origin(50%, 50%);
		z-index: 200;
		position: absolute;
		top: 50%;
		left: 30px;
		// margin-left: -$size/2;
		margin-top: -$size/2;
		width: $size;
		height: $size;
		display: inline-block;
		box-shadow: 0 0 3px rgba(white, 0.2);
		&:hover {
			@include transform(scale(1.15, 1.15));
		}
		img {
			width: 100%;
			height: 100%;
		}
		@include breakpoint(480) {
			position: static;
			display: inline-block;
			margin-top: 0;
			margin-right: 2rem;
			height: $navbar-height;
			width: $navbar-height;
		}
	}
}

#max-horn {
	width: 300px;
	position: absolute;
	top: 0;
	left: -60px;

	.logo {
		position: static;
		padding: 2rem;
		width: 26rem;
	}
}

.justified-grid {
	text-align: justify;
	li {
		height: 100;
		display: inline-block;
	}
	.last {
		content: '';
		width: 100%;
		display: inline-block;
	}
	img {
		max-width: 100%;
		max-height: 100%;
	}
}

.image-gallery {
	img {
		@include transition(opacity 150ms);
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
}

.video-gallery {
	text-align: center;
	margin: auto;
	.video {
		margin: 3.0rem;
	}
}

.news-list {

}

.news-item {
	margin: 3rem auto;
	padding: 1rem 0;

	border-top: 1px solid $beuce-less-light;
	.title {

	}
	.date {
		margin: 0;
		font-weight: 100;
	}
}

.cashmusic_embed {
	// height: 120px;
}
