
nav#navbar
	.container
		//- ul.links.full-justify
		ul.links.links-primary
			li.link: a.x-silo(href="/photos.html") Photos
			li.link: a.x-silo(href="/video.html") Video
			li.link: a.x-silo(href="/press.html") Press
			li.link: a.x-silo(href="/contact.html") Contact
			li.link: a.x-silo(href="http://sacredbrotherhood.org", target="_blank") Brotherhood
			li.link: a.x-silo(href="https://maxribnerband.bandcamp.com", target="_blank") Store
			//- <iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=638732945/size=large/bgcol=ffffff/linkcol=e99708/tracklist=false/artwork=none/transparent=true/" seamless><a href="http://mrbnation.bandcamp.com/album/here-in-spirit">Here In Spirit by Max Ribner Band</a></iframe>
		ul.links.links-secondary

			li.link: a.icon(href="https://itunes.apple.com/us/album/leap-to-flame/id901503710", target="social"): img(src="/images/icons/itunes-100.png", title="iTunes", alt="iTunes")
			li.link: a.icon(href="https://www.facebook.com/maxribnerband", target="social"): img(src="/images/icons/facebook-100.png", title="Facebook", alt="Facebook")
			li.link: a.icon(href="https://twitter.com/MaxWellRibner", target="social"): img(src="/images/icons/twitter-100.png", title="Twitter", alt="Twitter")
			li.link: a.icon(href="http://soundcloud.com/maxirib", target="social"): img(src="/images/icons/soundcloud-100.png", title="Soundcloud", alt="Soundcloud")
			li.link: a.icon(href="http://instagram.com/maxribner", target="social"): img(src="/images/icons/instagram-100.png", title="Instagram", alt="Instagram")
			//- <iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=638732945/size=large/bgcol=ffffff/linkcol=e99708/tracklist=false/artwork=none/transparent=true/" seamless><a href="http://mrbnation.bandcamp.com/album/here-in-spirit">Here In Spirit by Max Ribner Band</a></iframe>

	#main-logo
		a(href="/"): img(src="images/max-ribner-band-logo-w-180.png")

