nav#navbar
	.container
		.logo
			a(href="/"): img(src="images/max-ribner-band-logo-bk.png")
		ul.links.full-justify
			li: a(href="#") Dream Show
			li: a(href="#") Max
			li: a(href="#") Music
			li: a(href="#") Press
			li: a(href="/gallery.html") Gallery
			li: a(href="#") Youth
			li: a(href="#") Contact
