doctype html5
html
	head
		title MRB

		link(rel="stylesheet", href="bower/nivo-slider/nivo-slider.css")
		link(rel="stylesheet", href="bower/nivo-slider/themes/default/default.css")
		//- link(rel="stylesheet", href="bower/colorbox/example3/colorbox.css")
		link(rel="stylesheet", href="bower/Justified-Gallery/dist/css/justifiedGallery.min.css")
		link(rel="stylesheet", href="main.css")
	body
		block body
			#root
				.flame-wrapper
					block navbar
						include ../_partials/navbar.jade
					block banner
					block outer_content
						.container.main-container
							block content

		script(src="bower/jquery/dist/jquery.min.js")
		script(src="bower/nivo-slider/jquery.nivo.slider.pack.js")
		script(src="bower/Justified-Gallery/dist/js/jquery.justifiedGallery.min.js")
		script(src="bower/colorbox/jquery.colorbox-min.js")

		script(src="scripts/main.js")