extends _layout/split.jade

block banner

block content_left
	h1.page-title FAMILY

	.image-gallery.family
		a(href="images/gallery/Max Ribner Color-1.jpg", rel="gallery"): img(src="images/gallery/Max Ribner Color-1.jpg")
		a(href="images/gallery/Max Ribner Color-2.jpg", rel="gallery"): img(src="images/gallery/Max Ribner Color-2.jpg")
		a(href="images/gallery/Max Ribner Dream Show-9.jpg", rel="gallery"): img(src="images/gallery/Max Ribner Dream Show-9.jpg")
		a(href="images/gallery/Max Ribner Dream Show-34.jpg", rel="gallery"): img(src="images/gallery/Max Ribner Dream Show-34.jpg")
		a(href="images/gallery/Max Ribner Dream Show-66.jpg", rel="gallery"): img(src="images/gallery/Max Ribner Dream Show-66.jpg")
		a(href="images/gallery/Max Ribner Dream Show-70.jpg", rel="gallery"): img(src="images/gallery/Max Ribner Dream Show-70.jpg")
		a(href="images/gallery/Max Ribner Dream Show-75.jpg", rel="gallery"): img(src="images/gallery/Max Ribner Dream Show-75.jpg")
		a(href="images/gallery/Max Ribner Dream Show-77.jpg", rel="gallery"): img(src="images/gallery/Max Ribner Dream Show-77.jpg")
		a(href="images/gallery/Max Ribner Dream Show-81.jpg", rel="gallery"): img(src="images/gallery/Max Ribner Dream Show-81.jpg")
		a(href="images/gallery/Max Ribner Dream Show-86.jpg", rel="gallery"): img(src="images/gallery/Max Ribner Dream Show-86.jpg")
		a(href="images/gallery/Max Ribner Dream Show-89.jpg", rel="gallery"): img(src="images/gallery/Max Ribner Dream Show-89.jpg")
		a(href="images/gallery/Max Ribner Dream Show-90.jpg", rel="gallery"): img(src="images/gallery/Max Ribner Dream Show-90.jpg")
