extends _layout/full.jade

block banner

block content_main
	h1.page-title Gallery

	ul.justified-grid.images
		li: img(src="images/slider/1.jpg")
		li: img(src="images/slider/2.jpg")
		li: img(src="images/slider/3.jpg")
		li: img(src="images/slider/4.jpg")
		li: img(src="images/slider/5.jpg")
		li: img(src="images/slider/6.jpg")
		li: img(src="images/slider/7.jpg")
		li: img(src="images/slider/8.jpg")
		li: img(src="images/slider/9.jpg")
		li: img(src="images/slider/10.jpg")
		br.last