extends _layout/split.jade


block banner
	.theme-default.slider-container
		.ribbon
		.slider.slider-main
			for i in [1,2,3,4,5,6,7,8,9,10]
				img(src="images/slider/#{ i }.jpg")

block content_left
	h1 NEWS

	p Oh yeah! Time for some news!
	p Oh yeah! Time for some news!
	p Oh yeah! Time for some news!
	p Oh yeah! Time for some news!
	p Oh yeah! Time for some news!
	p Oh yeah! Time for some news!
	p Oh yeah! Time for some news!
	p Oh yeah! Time for some news!
	p Oh yeah! Time for some news!
	p Oh yeah! Time for some news!
	p Oh yeah! Time for some news!
	p Oh yeah! Time for some news!

block content_right

	h2 Free Download

	h2 Album
	//- <script type="text/javascript" src="http://x.cashmusic.org/public/cashmusic.js"></script>
	//- <script type="text/javascript"> window.cashmusic.embed('http://x.cashmusic.org/public/','4890');</script>