extends _layout/split.jade


block banner
	.theme-default.slider-container
		.ribbon
		.slider.slider-main
			for i in [1,2,3,4,5,6,7,8,9,10]
				img(src="images/slider/#{ i }.jpg")

block content_left
	h1.page-title NEWS

	.news-list
		.news-item
			.date 9/2/2014
			h2.title "Gym n Juice" video release
			<iframe width="560" height="315" src="//www.youtube.com/embed/cUeTfXf38i0?rel=0" frameborder="0" allowfullscreen></iframe>
		.news-item
			.date 8/11/2014
			h2.title Dream Show #2 Announced!
			p Check out the event <a href="https://www.facebook.com/events/592350724215519/?ref=ts&fref=ts">on Facebook</a>
			a(href="https://www.facebook.com/events/592350724215519/?ref=ts&fref=ts"): img(src="https://scontent-b-sea.xx.fbcdn.net/hphotos-xfp1/t31.0-8/10478795_10100209312632809_4902863967371592010_o.jpg")

block content_right

	include _partials/sidebar.jade