extends _layout/base.jade

block content
	.container
		.slider.slider-main
			img(src="images/slider/1.jpg")

		<script type="text/javascript" src="http://x.cashmusic.org/public/cashmusic.js"></script>
		<script type="text/javascript"> window.cashmusic.embed('http://x.cashmusic.org/public/','4890');</script>