extends _layout/full.jade

block banner

block content_main
	h1.page-title.big-margin DREAM SHOW PHOTOS

	.image-gallery.dream-show

		a(href="/images/gallery/Max Ribner Dream Show-9.jpg", rel="gallery"): img(src="/images/gallery/Max Ribner Dream Show-9.jpg")
		a(href="/images/gallery/Max Ribner Dream Show-34.jpg", rel="gallery"): img(src="/images/gallery/Max Ribner Dream Show-34.jpg")
		a(href="/images/gallery/Max Ribner Dream Show-66.jpg", rel="gallery"): img(src="/images/gallery/Max Ribner Dream Show-66.jpg")
		a(href="/images/gallery/Max Ribner Dream Show-70.jpg", rel="gallery"): img(src="/images/gallery/Max Ribner Dream Show-70.jpg")
		//- a(href="/images/gallery/Max Ribner Dream Show-75.jpg", rel="gallery"): img(src="/images/gallery/Max Ribner Dream Show-75.jpg")
		a(href="/images/gallery/Max Ribner Dream Show-81.jpg", rel="gallery"): img(src="/images/gallery/Max Ribner Dream Show-81.jpg")
		a(href="/images/gallery/Max Ribner Dream Show-86.jpg", rel="gallery"): img(src="/images/gallery/Max Ribner Dream Show-86.jpg")
		a(href="/images/gallery/Max Ribner Dream Show-89.jpg", rel="gallery"): img(src="/images/gallery/Max Ribner Dream Show-89.jpg")
		a(href="/images/gallery/Max Ribner Dream Show-90.jpg", rel="gallery"): img(src="/images/gallery/Max Ribner Dream Show-90.jpg")

		a(href="/images/slider/1.jpg", rel="gallery"): img(src="/images/slider/1.jpg")
		a(href="/images/slider/2.jpg", rel="gallery"): img(src="/images/slider/2.jpg")
		a(href="/images/slider/3.jpg", rel="gallery"): img(src="/images/slider/3.jpg")
		a(href="/images/slider/4.jpg", rel="gallery"): img(src="/images/slider/4.jpg")
		a(href="/images/slider/5.jpg", rel="gallery"): img(src="/images/slider/5.jpg")
		//- a(href="/images/slider/6.jpg", rel="gallery"): img(src="/images/slider/6.jpg")
		a(href="/images/slider/7.jpg", rel="gallery"): img(src="/images/slider/7.jpg")
		a(href="/images/slider/8.jpg", rel="gallery"): img(src="/images/slider/8.jpg")
		a(href="/images/slider/9.jpg", rel="gallery"): img(src="/images/slider/9.jpg")
		//- a(href="/images/slider/10.jpg", rel="gallery"): img(src="/images/slider/10.jpg")


	h1.page-title.big-margin FAMILY PHOTOS

	.image-gallery.family
		a(href="/images/Family/band ~ family ~ curtis kidwell .jpg"): img(src="/images/Family/band ~ family ~ curtis kidwell .jpg")
		a(href="/images/Family/band ~ family ~ joe hall.jpg"): img(src="/images/Family/band ~ family ~ joe hall.jpg")
		a(href="/images/Family/band ~ family ~ Saeeda Wright Bio .jpg"): img(src="/images/Family/band ~ family ~ Saeeda Wright Bio .jpg")
		a(href="/images/Family/band ~ family ~ Tim Ribner bio .jpg"): img(src="/images/Family/band ~ family ~ Tim Ribner bio .jpg")
		a(href="/images/Family/band ~ family Mikey D!.jpg"): img(src="/images/Family/band ~ family Mikey D!.jpg")
		a(href="/images/Family/Kilikina's Chocolat.jpg"): img(src="/images/Family/Kilikina's Chocolat.jpg")
		a(href="/images/Family/Saratone ~ guest Artist.jpg"): img(src="/images/Family/Saratone ~ guest Artist.jpg")
		a(href="/images/Family/Youth Music Empowerment .jpg"): img(src="/images/Family/Youth Music Empowerment .jpg")
		//- a(href="/images/gallery/Max Ribner Dream Show-77.jpg", rel="gallery"): img(src="/images/gallery/Max Ribner Dream Show-77.jpg")

