extends _layout/full.jade

block banner

block content_main
	h1.page-title PRESS

	.page-press
		.adhoc-row

			.half-col
				h2 Links
				.links
					p: a(href="https://www.youtube.com/watch?v=sWKgIvhvt7o") National Anthem with the Portland Trailblazers vs Spurs
					p: a(href="http://youtu.be/0f9S0JWSaUw?t=15s") Hear Max's horn on Emeril Lagasse's TV show
					p: a(href="http://www.kgw.com/story/local/2014/09/17/12637344/") Hear Max Ribner Band on the KGW local Portland news
					p: a(href="https://www.youtube.com/watch?v=PftC8MuoNmA") Interview with Max on Oregon TV
					p: a(href="https://www.marmosetmusic.com/artists/max-ribner") Featured on Marmoset Music
			.half-col
				h2 Quotes
				.quotes
					p "Your spirit was all over that stage!" ~ Liv Warfield vocalist of Prince
					p "Groovy tracks" ~ Jennifer Batten, guitarist of Michael Jackson
					p "Had the complete pleasure to watch Max Ribner Band play amazing jazz fusion-funk-R&amp;B-rock-world-LOVE music, at the Bend Summer Festival! You are amazing!"
					p "When you want to touch the sky, Leap to Flame ignites the beat in your deep soul muse"
					p "Listening to Leap the Flame album and I'm so stoked for Max Ribner Band!!! Great tracks and beats!"
					p "The most inspiring, heart-opening and powerful production that I have ever been a part of! This is much more than entertainment, it is a Movement - a portal to unify our community in peace, love and encouragement - it is time to spark your inner fire and let your purpose 'Leap to Flame'! Lets do it together!!!"
					p "Love it all!!! All the very best from south India!"
