extends _layout/full.jade

block banner

block content_main
	h1.page-title WATCH

	.video-gallery
		for code in ['QJqo_gUpkoI', 'GJq7fWjQCvs',  'fl2fcMMCHjQ',  'XPucAWuchV8',  'LxPCzdwXZLk',  'ftJaMnlZayo',  'igqWQBTptM4',  '2_zirmGJL6U']
			.video
				<iframe width="560" height="315" src="//www.youtube.com/embed/#{ code }?rel=0" frameborder="0" allowfullscreen></iframe>
